<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<a th:href="@{/student/create}">
    Add new Student
</a>

<table>
    <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>

    </tr>


    <tr th:each="s : ${students}">
        <td th:text="${s.name}"></td>
        <td th:text="${s.grade}"></td>
        <td><img th:src="@{'/i/'+ ${s.image}}" width="100"/></td>
        <td><a th:href="@{/student/{id}/edit(id=${s.id})}">edit</a></td>
        <td><a th:href="@{/student/{id}/delete(id=${s.id})}">delete</a></td>
        <td><a th:href="@{/student/{id}/view(id=${s.id})}">view</a></td>


    </tr>
</table>

</body>
</html>